//fondo
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #7029b9;
}
// nav
.wrrapNavbar{
    /*background-color: rgba(0,0,0,.6); */
   position: absolute;
   width: 100%;
}
.navbar-default{
   background-color: transparent;
   border-bottom: 0px;
   border: 0px;
   padding: 0;
   margin: 0;
   border-radius: 0;
   padding-top: 20px;
   height: 100px;
}
.navbar-default .navbar-brand{
   font-size: 30px;
   -webkit-transition: all 0.2s ease-out;
   transition: all 0.2s ease-out;
}

.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover{
   color: #fff;
   margin-left: 110px !important;
}

.navbar-right {
   float: right!important;
   margin-right: 63px !important;
}

.shrink{
   background-color: rgba(111, 5, 197, 0.4) !important;
   height: 60px;
   padding-top: 0;
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
}

.shrink .navbar-brand{
   font-size: 20px;
}

.navbar-default .navbar-brand span{
   color: #00ffe7;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
   background: transparent;
   color: #00ffe7;
}

.navbar-default .navbar-nav>li>a{
   color: #fff;
   font-size: 16px;
   font-weight: 500;
}


.firstSection{
   height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0)),url('../assets/img/fondoBlancoEcritorioSinPantalla.png');
   background-attachment: fixed;
   background-position: center;
   -webkit-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
}
#aboutMe, #habilities, #projects, #contact{
   min-height: 100vh;
   padding-top: 4em
}
#aboutMe{
 background-color: #e8cdfe;
 min-height: 90vh;
//  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
//  clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
  text-align: center;
 
}
#habilities{
   background-color: #7029b9;
 }
#projects{
 background-color: #fff;
  //  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
  // clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0);
}

#contact{
    background-color: #7029b9;
}
.footer{
  background-color: #fff;
  // -webkit-clip-path: polygon(0px 424px,100% 419px,100% 151px,-4px 62px); 
  //    clip-path:  polygon(0px 424px,100% 419px,100% 151px,-4px 62px); 
}
// generales
.fondosRow{
    padding: 3em;
   
}
#rows1,#rows2, #rows3,#rows4,#rows5,#rows6,#rows7,#rows8,#rows9,#rows10,#rows11,#rows12,#rows13,#rows14,#rows15,#rows16,#rows17,#rows18,#rows19,#rows20,#rows21,#rows22,#rows23,#rows24,#rows25,#rows26,#rows27{
  margin: 0;
  padding: 0;
}


// header
.header{
    margin: 0;
    background-image: url('../assets/img/fondoEscritorioDesenfoque.png');
    background-attachment: fixed; 
    background-size: cover;  
    width: 100%;
    height: 70vh;
}
.img-parallax{
    position: fixed;
    width: 20%;
    height: 70vh;
    right: 0;
}
#layer_1{
    background-image: url('../assets/img/cafe.png');
    background-repeat: no-repeat;
    background-position:50% 200px;  
    margin-top: 0px;
    background-size: 16em 16em
}
.name{
    position: absolute;
    top: 45%;
    margin-top: 120px;
    padding: 2em;
}
h1{
    color: #fff;
    font-size: 700%;
    letter-spacing: 0px;
    padding: 20px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);//, 0 -2px 1px #ccc;
    text-transform: uppercase;
   
}
h2{
    color: #fff;
    display: block;
    font-size: 5rem;
    letter-spacing: 0px;
    line-height: 60px;
    padding-top: 5px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.5);//, 0 -2px 1px #fff;

}
// Sobre mi
.fotoBox{
    text-align: center;
}
.fotoPerfil{
  text-align: center;
  width: 13em
}
.aboutMe{
  font-weight: 500;
  margin-top: 2em;
  font-size: 1.3em;
  text-align: center;
}
.iconAboutMe{
  font-size: 2em;
  color: #00ffe7
}
// logos programacion
.icon{
    margin-top: 2em;
    margin-bottom: 1em;
}
.iconSig{
    margin-bottom: 1em;
}
.dev{
    width: 4em;
    // box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 -2px 1px #fff;
    // border-radius: 10%;
}
.fire{
    width: 3.5em;
}
.sql{
    width: 6em;
}

.colEspace{
    margin-bottom: 3em;
    
}
.habilityTitle{
    text-align: center;
    margin-bottom: 1em
}
.paragraphOne{
    font-size: 2em
}
.newsIcons{
    margin-top: 5em;
}
.cicle{
	display: inline-block;
	width: 6em;
	height: 6em;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
  border: 2px solid #00ffe7;
  background-color: #fff;
  padding-top: 12px
}
.nameIcon{
  text-align: center;
  color: #fff;
  margin-left: 0.7em
}

// projects
.imglogos{
    width: 7em;
}
.colProjects{
  box-sizing: border-box;
    background-color: rgb(216, 211, 211);
    margin: 0.5em
}
.titleProjects{
   color: #7029b9
}
.btnProjects{
  border:1px solid #7029b9;
  background-color: transparent;
  color: #7029b9;
  font-size: 1.3em
}
.btnProjects:hover{
  background-color: #7029b9;
  color: #fff;
}
h3{
  color: #7029b9;
}
.fondothumbnail{
  background-color: #eee;
  border:2px solid #7029b9
}
.projects{
  padding: 2em
}
// contacto
#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }
  .titleContact{
    margin-top: 1.5em;
    padding-bottom: 0.5em
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#fff !important; 
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 25px
  }

  .form:hover{
    border:1px solid #00ffe7;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #00ffe7;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  


/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#00ffe7;
    background:transparent;
    border:1px solid #00ffe7;
    border-radius:25px;
    outline: none;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }
  ::placeholder { 
    color:#e6e6e6; 
  }
  .form-btn:hover{
    background: #595959;
    color: #00ffe7;
    border:1px solid #00ffe7;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}

// footer
.textFooter{
  text-align: center;
  padding: 2em;
  font-weight: bold;
  font-size: 1.5em
}








  











/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Large devices (large desktops, 1200px and up) */
 @media (max-width:1920px) { 

  }
  @media (max-width:1033px){

  //   #projects{
  //     height: 180vh;
  // }
  }
  @media (max-width:991px){

  //   #projects{
  //     height: 110vh;
  // }
  }
  @media (max-width:975px){

  //   #projects{
  //     height: 120vh;
  // }
  }
  @media (max-width:920px){

  //   #projects{
  //     height: 120vh;
  // }
  }
  @media (max-width:850px){

  //   #projects{
  //     height: 100vh;
  // }
  }

// /* Medium devices (desktops, 992px and up) */
// @media (max-width:992px) {  

// }
// /* Small devices (tablets, 768px and up) */
// @media (max-width:768px) {  
//  // menu
//  .navbar-collapse{
//   background-color: rgba(111, 5, 197, 0.6) !important;
// }

//   h1{
//       font-size: 5em; 
//       padding: 5px;
//   }

//   #projects{
//       height: 200vh;
//   }
//   .minddleMe{
//     padding: 0em 0em;
// }
// #aboutMe{
//   min-height: 160vh;
// }

// }

// @media (max-width:550px) { 
//    // menu
//    .navbar-collapse{
//     background-color: rgba(111, 5, 197, 0.6) !important;
//   }

//     h1{
//         font-size: 5em; 
//         padding: 5px;
//     }
//     #projects{
//         height: 200vh;
//     }
//     .minddleMe{
//       padding: 0em 0em;
//   }

//   #aboutMe{
//     min-height: 130vh;
//   }

//  }


//  @media (max-width:400px) { 
//   // menu
//   .navbar-collapse{
//    background-color: rgba(111, 5, 197, 0.6) !important;
//  }
//  .navbar-brand{
//   display: none
// }
//    h1{
//        font-size: 4em; 
//        padding: 5px;
//    }
//    h2{
//     font-size: 3em; 
//     padding: 5px;
// }

//    #projects{
//        height: 130vh;
//    }
//    .minddleMe{
//      padding: 0em 0em;
//  }
//  #aboutMe{
//    min-height: 160vh;
//  }

// }






